<div class="container py-3">
    <div class="row">
        <div class="col-lg-10 mx-auto">
            <div class="row g-3 mb-3">
                <div class="col-md-10">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th>Origin</th>
                                    <th>Destination</th>
                                    <th>Dep. Date</th>
                                    <th>Dep. Time</th>
                                    <th>Arr. Date</th>
                                    <th>Arr. Time</th>
                                    <th>Weight</th>
                                    <th>Volume</th>
                                    <th>Status</th>
                                    <th>Arrived</th>
                                    <th>Full wt.</th>
                                    <th>Full Vol.</th>
                                </tr>
                            </thead>
                            <tbody class="table-light">
                                <tr>
                                    <td>SIN</td>
                                    <td>MNL</td>
                                    <td>02/02/2021</td>
                                    <td>09:00</td>
                                    <td>02/02/2021</td>
                                    <td>14:00</td>
                                    <td>13234.0</td>
                                    <td>233.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>SIN</td>
                                    <td>MNL</td>
                                    <td>02/02/2021</td>
                                    <td>09:00</td>
                                    <td>02/02/2021</td>
                                    <td>14:00</td>
                                    <td>13234.0</td>
                                    <td>233.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>SIN</td>
                                    <td>MNL</td>
                                    <td>02/02/2021</td>
                                    <td>09:00</td>
                                    <td>02/02/2021</td>
                                    <td>14:00</td>
                                    <td>13234.0</td>
                                    <td>233.4</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>                  
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-block mb-2">Show Messages</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Send Messages</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Set Station</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Set Departed</button>
                </div>
            </div>
            <div class="row g-3 mb-3">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th>Status UId</th>
                                    <th>Seq</th>
                                    <th>Created At</th>
                                    <th>Oper</th>
                                    <th>Pieces</th>
                                    <th>Weight</th>
                                    <th>Volume</th>
                                </tr>
                            </thead>
                            <tbody class="table-light">
                                <tr>
                                    <td>1</td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-block mb-2">Add. Services</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Gen. Invoice</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Flight Time</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Remarks</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">View Report</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Prints</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-primary btn-block mb-2">Pre-Manifest</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Load ULD</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Load Courier</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Show Messages</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Notoc</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Build-up Complete</button>
                    <button type="button" class="btn btn-primary btn-block mb-2">Flight Finalize</button>
                </div>
            </div>
        </div>
    </div>
</div>

