
        
        <div class="fixed-plugin">
          <div class="card my-3">
            <div class="card-body mb-3">
              <h5 class="card-title">News Message</h5>
            </div>
            <div class="card-body active-screens">
                <h5 class="card-title">Active Screens</h5>
                <p class="card-text fs-5 mb-2"><a href="#">Menu</a></p>
                <p class="card-text fs-5 mb-2"><a href="#">Accept Export</a></p>
            </div>
            <div class="card-body sidebar">
                <h5 class="card-title">Record List</h5>
                <p class="card-text">xs818 02feb</p>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-info btn-block">Query (F7)</button>
                <button type="button" class="btn btn-warning btn-block">Edit (F2)</button>
                <button type="button" class="btn btn-primary btn-block">Add (Ins)</button>
                <button type="button" class="btn btn-danger btn-block">Delete (Del)</button>
                <button type="button" class="btn btn-success btn-block" disabled>OK</button>
                <button type="button" class="btn btn-dark btn-block">Exit Screen</button>
            </div>
          </div>
        </div>



